/* body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;} */
body, html {
    color: rgb(49, 37, 37);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
}



.title {

}
 
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-content: center;
    gap: 1ch;
    /* width: 100px; */
    max-height: 100%;
    
}

.sidebar {

}

.header {
    position: absolute;
    top: 5px;
    padding: 10px;
    text-align: center;
    border: 2px;
    /* max-width: 100%; */
    border-style: solid;
    border-color: black;
    background-color: white;
    z-index: 100;
    height: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    max-height: 100%;
}

.container1 {
    display: flex;
    flex-direction: column;
}

.result-item {
    border: 2px;
    padding: 1ch;
    margin: 0 10px;
    border-style: solid;
    border-color: navy;
    max-width: 1000px;
    gap: 2ch;
    
}

.results-list {
    position: sticky;
    gap: 2ch;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /* top: 10%; */
    padding-top: 100px;
}

.multi-form-container {
    display: grid;
    align-content: center;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}