{% extends "main/base.html" %}
{% load widget_tweaks %}

{% block title %}Create a Preference{% endblock %}

{% block main %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create A New Preference</h3>
            </div>

            <form method="POST">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            
                            <div class="form-group">
                                <label for="name">Preference Nickname</label>
                                {% render_field form.name class="form-control" %}
                                <!-- <input type="text" name="rating_threshold" id="rating_threshold" class="form-control" placeholder="Ex. 4.5"></textarea> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            
                            <div class="form-group">
                                <label for="rating_threshold">Minimum Rating (1-5 stars)</label>
                                {% render_field form.rating_threshold class="form-control" %}
                                <!-- <input type="text" name="rating_threshold" id="rating_threshold" class="form-control" placeholder="Ex. 4.5"></textarea> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="location">Location</label>
                                {% render_field form.location class="form-control" %}
                                <!-- <input type="text" name="location" id="location" class="form-control" placeholder="Location" /> -->
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="distance">Search Distance (miles)</label>
                                {% render_field form.distance class="form-control" %}
                                <!-- <input type="text" name="distance" id="distance" class="form-control" placeholder="Distance (miles)" /> -->
                            </div>
                        </div>
                    </div>
                        
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="keywords">Keywords</label>
                                {% render_field form.keywords class="form-control" %}
                                <!-- <select name="keywords" id="keywords" class="form-control" multiple="multiple"></select> -->
                                <!-- TODO: dynamic option list from list of existing tags
                                    - will make a GET request to tags db
                                -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="pricing_range">Price Range </label>
                                {% render_field form.pricing_range class="form-control" %}
                                <!-- <select class="form-control" multiple="multiple"></select> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <hr />
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}